<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM área</title>
</head>
<body>
    <header>
        <h1>Area adm!</h1>
    </header>

    <main>
        <h2>Bem-vindo a área de adm</h2>

        <div>
            <h3>Barracas: </h3>
            <ul>
                
                <% @foods.each do | food |%>

                    <li>
                        <div>
                            <h4><%= food.name %></h4> <p><%= food.id %></p>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>


        <form action="/admin/createfood" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="name">
            <label for="id">Numero da barraca: </label>
            <input type="text" name="id">
            <button type="submit">Criar</button>
        </form>

        <form action="/admin/additem" method="post">
            <label for="name">:</label>
            <input type="text" id="name">
            <label for="id">Numero da barraca: </label>
            <input type="text">
            <button type="submit">Criar</button>
        </form>

    </main>

    <footer>
        <p>Criado por PedroR</p>
    </footer>
</body>
</html>