<form action="/login/" method="post">
    <label for="user">Usuário: </label>
    <input type="text" name="user">
    <label for="password">Senha: </label>
    <input type="text" name="password">
    <button type="submit"></button>
</form>